<h3 class="text-center mb-4">All Assigned Tasks</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Task Name</th>
      <th>Status</th>
      <th>Assigned To</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.task_name}}</td>
        <td>{{this.status}}</td>
        <td>{{this.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>