<h2>User Details</h2>
<table class="table">
  <tr><th>Name</th><td>{{user.name}}</td></tr>
  <tr><th>Email</th><td>{{user.email}}</td></tr>
  <tr><th>Mobile</th><td>{{user.mobile}}</td></tr>
  <tr><th>Status</th><td>{{user.status}}</td></tr>
</table>

<a href="/user/getAll" class="btn btn-secondary mt-3">Back to All Users</a>